
{%extends 'layoutPizza.html' %}

{%block content %}
{% import "_macros.html" as macros %}

    <form name="pizzaRegistro" action="/pizzaIndex" id="pizzaRegistro" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h4><a href="ABCPizza">ABC</a></h4>
    <br><br>
    <div style="display: inline-block;">
        <div class="card text-center text-bg-secondary mb-3" style="width: 20rem">
            <div class="card-body">
                <h1>Ingresa tus datos</h1>
                <select id="clienteSelect" name="cliente" onchange="obtenerInformacionCliente()">
                    <option value="">Selecciona una opcion</option>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                    {% endfor %}
                </select>
                <br>
                {{ macros.render_field(formC.nombre, id='nombre', class="form-controls") }} 
                {{ macros.render_field(formC.direccion, id='direccion') }}                    
                {{ macros.render_field(formC.telefono, id='telefono') }}
            </div>
        </div>
    </div>
    <div style="display: inline-block; margin-left: 10px;">
        <div class="card text-center text-bg-secondary mb-3" style="width: 20rem">
            <div class="card-body">
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha">
                </div>
                <br><input type="submit" id="pizzaRegistrar" name="pizzaRegistrar" value="PizzaRegistrar"/>
                <br><button type="reset">Resetear Formulario</button>

            </div>
        </div>
    </div>

    <div style="display: inline-block; margin-left: 10px;">
        <div class="card text-center text-bg-secondary mb-3" style="width: 20rem">
            <div class="card-body">
                <h4>Ingresa el tamaño de tu pizza</h4>
                {{ macros.render_field(formP.tamano) }}
                <h4>Ingresa los ingredientes</h4>
                {{ macros.render_field(formP.ingredientes) }}
                <h4>Ingresa la cantidad</h4>
                {{ macros.render_field(formP.cantidad) }}
            </div>
        </div>
    </div>
    
    </form>


{%endblock%}